.icon-eye {
  height: 24px;
  position: relative;
  width: 24px;
}

.icon-eye .vector {
  height: 14px;
  left: 2px;
  position: absolute;
  top: 5px;
  width: 20px;
}

.icon-eye .overlap-group {
  height: 17px;
  left: 2px;
  position: relative;
  top: 3px;
  width: 20px;
}

.icon-eye .img {
  height: 14px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 20px;
}

.icon-eye .vector-2 {
  height: 17px;
  left: 2px;
  position: absolute;
  top: 0;
  width: 17px;
}
